flutter/ephemeral/

# FFmpeg binaries (too large to commit, download separately)
ffmpeg/*.exe
ffmpeg/*.dll

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
